:root {
    --clr-primary-200: #a6e1fa;
    --clr-primary-400: #0e6ba8;

    --clr-neutral-100: #e8e8e8;
    --clr-neutral-900: #21325e;

    --ff-primary: "Coolvetica";
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h2,
h3,
p {
    margin-bottom: 1em;
}

p {
    margin: 0;
    text-align: center;
}

section {
    padding: 1rem 0;
}
img {
    display: block;
    max-width: 100%;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
    text-align: center;
}

.bg-light {
    background-color: var(--clr-primary-200);
}
.bg-primary {
    background-color: var(--clr-primary-400);
}
.bg-dark {
    background-color: var(--clr-neutral-900);
}

.home {
    width: 100%;
    align-items: center;
    font-family: var(--ff-primary);
    color: #3e497a;
    margin: auto;
}

.about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--clr-neutral-900);
    color: #f0f0f0;
    margin-top: 0;
}

.about h2 {
    font-family: var(--ff-primary);
    font-size: 80px;
    color: var(--clr-primary-200);
    height: 50px;
    animation: fadeIn 1s 1.8s backwards;
}

.about .myIntro {
    width: 40%;
    font-size: 30px;
    animation: fadeInAnimation 1s 1.8s backwards;
}
.myIntro svg {
    font-size: 60px;
    margin-top: auto;
    color: white;
}
.my-skills {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
    margin-inline: auto;
}

.skills {
    width: 100%;
    height: auto;
    display: flex;
    box-sizing: border-box;
    margin-inline: auto;
}
.skills .skillTitle {
    text-align: center;
    color: #3e497a;
    font-size: 200px;
    font-weight: bolder;
    margin-inline: auto;
}

.skill-header {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 40px;
    font-style: bold;
}

.skillsList {
    width: 70vw;
    height: min-content;
    display: flex;
}

.front-end-skills-column {
    flex: 4;
    padding: 10px;
    border: 4px solid #0e6ba8;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    align-items: center;
    margin: 10px;
    background-color: #e8e8e8;
    margin-inline: auto;
}
.back-end-skills-column {
    flex: 4;
    padding: 10px;
    border: 4px solid #0e6ba8;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    align-items: center;
    margin: 10px;
    background-color: #e8e8e8;
    align-self: stretch;
}

.language-skills-column {
    flex: 4;
    padding: 10px;
    border: 4px solid #0e6ba8;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    align-items: center;
    margin: 10px;
    background-color: #e8e8e8;
    align-self: stretch;
}

.skillTile {
    border-radius: 15px;
    float: left;
    width: 100px;
    height: 100px;
    margin: 50px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.skillTile:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.skillTile .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-inline: auto;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.skillTile h1 {
    font-size: 25px;
}

@media only screen and (max-width: 1300px) {
    .skill-header {
        margin-top: 20px;
    }
    .about h2 {
        margin-top: 200px;
        font-size: 80px;
    }
    .myIntro svg {
        margin-top: 20px;
        font-size: 80px;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 1000px) {
    .myIntro h4 {
        margin-top: 20px;
    }
    .about h2 {
        margin-top: 200px;
        font-size: 72px;
    }
    .myIntro svg {
        margin-top: 20px;
        font-size: 80px;
    }
}
@media only screen and (max-width: 800px) {
    .about h2 {
        font-size: 48px;
    }
    .myIntro h4 {
        margin-top: 50px;
        font-size: 24px;
    }
    .myIntro svg {
        margin-top: 20px;
        font-size: 50px;
    }
    .skill-header {
        font-size: 18px;
    }
    .front-end-skills-column,
    .back-end-skills-column,
    .language-skills-column {
        display: block;
        width: min(50%, 5.5rem);
        font-size: 15px;
        border: 1px thin;
        margin: 8px;
    }
}
@media only screen and (max-width: 400px) {
    .about h2 {
        font-size: 40px;
    }
    .myIntro h4 {
        margin-top: 10px;
        font-size: 18px;
    }
    .myIntro svg {
        margin-top: 10px;
        font-size: 40px;
    }
    .skill-header {
        font-size: 18px;
    }
    .front-end-skills-column,
    .back-end-skills-column,
    .language-skills-column {
        display: block;
        width: min(50%, 5.5rem);
        font-size: 15px;
        border: 1px thin;
        margin: 8px;
    }
}
