
.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Coolvetica";
}

.project h1 {
    margin-top: 60px;
    color: #001c55;
    font-size: 35px;
}
.project img {
    max-height: 400px;
    max-width: 400px;
}

.project p {
    font-size: 40px;
    color: #3e497a;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
}

.project svg {
    font-size: 60px;
    color: #001c55;
    margin: auto;
    align-items: baseline;
}

@media screen and (max-width: 1300px) {
    .project {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 1px;
    }
    .project p {
        font-size: 24px;
    }
    .project img {
        width: auto;
    }
}
@media screen and (max-width: 1000px) {
    .project {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 1px;
    }
    .project p {
        font-size: 24px;
    }
    .project img {
        width: auto;
    }
}
@media screen and (max-width: 800px) {
    .project {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 1px;
    }
    .project p {
        font-size: 24px;
    }
    .project img {
        width: auto;
    }
}
@media screen and (max-width: 500px) {
    .project {
        margin-top: 50px;
        margin-bottom: auto;
        font-size: 1px;
    }
    .project p {
        font-size: 24px;
    }
    .project img {
        width: auto;
    }
}
@media screen and (max-width: 400px) {
    .project {
        margin-top: 100px;
        margin-bottom: 150px;
        font-size: 1px;
    }
    .project p {
        font-size: 24px;
    }
    .project img {
        width: auto;
    }
}
