.skills {
    margin-inline: auto;
    width: min(100%, 70.5rem);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Helvetica', sans-serif;
}
.skills .skillTitle {
    text-align: center;
    color: #3e497a;
    font-size: 20px;
    font-weight: bolder;
}

.skillsList {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.skillTile {
    border-radius: 15px;
    margin-inline: auto;
    margin: 30px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.skillTile:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.skillTile .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-inline: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skill-name {
    margin-top: 5px;
}

.skillTile h1 {
    font-size: 15px;
}

@media only screen and (max-width: 1300px) {
    .skillList {
        grid-template-rows: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .skillsList {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .skillTile {
        margin-inline: auto;
        padding: 0%;
    }
    .bgImage {
        display: block;
    }
}
